[submodule "src/webapp/src/assets/i18n"]
	url = https://gitlab.com/Gyoo1/oengus-localization.git
[submodule "src/main/resources/export"]
	path = src/main/resources/export
	url = https://gitlab.com/Gyoo1/oengus-localization-exports.git
