[submodule "src/webapp/src/assets/i18n"]
	path = src/webapp/src/assets/i18n
	url = https://github.com/esamarathon/oengus-localization.git
[submodule "src/main/resources/export"]
	path = src/main/resources/export
	url = https://github.com/esamarathon/oengus-localization-exports.git
