HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

src/main/resources/static/

src/webapp/src/assets/i18n/\.i18n-editor-metadata

src/webapp/src/assets/i18n/README.md
.gradle/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
docker-compose.override.yml
