.navbar {
  margin-bottom: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.content-wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
  flex-shrink: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.privacy-consent {
  padding: 0.5rem 0;
}
