# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Build

on:
    push:
        branches-ignore:
            - master
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2.3.4
            - name: Set up java
              uses: actions/setup-java@v1.4.3
              with:
                  java-version: 16
            - name: Grant execute permission for gradlew
              run: chmod +x gradlew
            - name: Get dependencies
              run: ./gradlew --no-daemon dependencies
#            - name: Lint code
#              run: ./gradlew --no-daemon lintAll
            - name: Build with Gradle
              run: ./gradlew --no-daemon compileJava
