name: Test PR
on:
    push:
        branches-ignore:
            - master
    pull_request:
jobs:
    run_gradle_tests:
        name: Run gradle tests
        runs-on: ubuntu-latest
        concurrency:
            group: ${{ github.ref }}-test
            cancel-in-progress: true

        steps:
            -   uses: actions/checkout@v6
            -   name: Set up java
                uses: actions/setup-java@v5
                with:
                    distribution: 'zulu'
                    java-version: 25
            -   name: Grant execute permission for gradlew
                run: chmod +x gradlew
            -   name: build all needed
                run: ./gradlew --no-daemon test

    build_docker_file:

        concurrency:
            group: ${{ github.ref }}-docker
            cancel-in-progress: true

        name: Build docker image
        runs-on: ubuntu-latest
        steps:
            -   name: Check out the repo
                uses: actions/checkout@v6
                with:
                    submodules: true

            -   name: Set up QEMU
                uses: docker/setup-qemu-action@v3

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -   name: Build image
                id: docker_build
                uses: docker/build-push-action@v6
                with:
                    context: .
                    push: false
                    cache-from: type=gha
                    cache-to: type=gha

            -   name: Image digest
                run: echo ${{ steps.docker_build.outputs.digest }}
