name: Publish prod
on:
    release:
        types: [ published ]
jobs:
    push_to_registry:

        concurrency:
            group: ${{ github.ref }}
            cancel-in-progress: true

        name: Push production image
        runs-on: ubuntu-latest
        steps:
            -   name: Check out the repo
                uses: actions/checkout@v3
                with:
                    submodules: true

            -   name: Set up QEMU
                uses: docker/setup-qemu-action@v2

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v2

            -   name: Login to Docker
                uses: docker/login-action@v2
                with:
                    username: ${{ secrets.DOCKER_USERNAME }}
                    password: ${{ secrets.DOCKER_TOKEN }}

            -   name: Build and push
                id: docker_build
                uses: docker/build-push-action@v3
                with:
                    context: .
                    push: true
                    tags: oengusio/backend:latest
                    cache-from: type=gha
                    cache-to: type=gha

            -   name: Image digest
                run: echo ${{ steps.docker_build.outputs.digest }}

            -   name: Trigger prod webhook
                uses: distributhor/workflow-webhook@v3
                env:
                    webhook_url: ${{ secrets.PROD_WEBHOOK_URL }}

            -   name: Trigger sandbox webhook
                uses: distributhor/workflow-webhook@v3
                env:
                    webhook_url: ${{ secrets.SANDBOX_WEBHOOK_URL }}
