name: Publish Docker image
on:
    release:
        types: [published]
jobs:
    push_to_registry:
        name: Push Docker image to GitHub Packages
        runs-on: ubuntu-latest
        steps:
            - name: Check out the repo
              uses: actions/checkout@v2
              with:
                  submodules: true
            - name: Push to GitHub Packages
              uses: docker/build-push-action@v1
              with:
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
                  registry: docker.pkg.github.com
                  repository: esamarathon/oengusio/oengus-backend
                  tags: latest
#            - name: Trigger dev webhook
#              uses: zzzze/webhook-trigger@v1.0.0
#              with:
#                webhook_url: ${{ secrets.PROD_WEBHOOK_URL }}
